#ellak-newsbar-cont {
	width: 100%;
	font-family: 'Verdana', 'Arial', sans;
	font-size: 11px;
	background: #98C807;
  background-color: #98C807;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear,left top,left bottom,from(#98C807),to(#688527));
  background-image: -moz-linear-gradient(#98C807,#688527);
  background-image: -ms-linear-gradient(#98C807,#688527);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#98C807),color-stop(100%,#688527));
  background-image: -webkit-linear-gradient(#98C807,#688527);
  background-image: -o-linear-gradient(#98C807,#688527);
  background-image: linear-gradient(#98C807,#688527);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98C807',endColorstr='#688527',GradientType=0);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	padding: 7px 0;
}

#ellak-newsbar-cont a {
	color: #fff;
	text-decoration: none;
}
#ellak-newsbar-cont a:hover {
	text-decoration: underline;
}

#ellak-newsbar {
	width: 96%;
	margin: 0 auto;
}

#ellak-newsbar:before,
#ellak-newsbar:after {
	content: " ";
	display: table;
}

#ellak-newsbar:after {
	clear: both;
}

#ellak-sites {
	float: left;
}

#ellak-sites a {
	font-weight: bold;
}

#ellak-sites select {
	font-size: 11px;
	border: none;
	border-radius: 0;
	padding: 2px;
	background: #fff;
	cursor: default;
}

.sep {
	color: #fff;
}
@media only screen and (max-width: 768px) {
	#ellak-sites {
	width: 100%;
}
}
